<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lacour.vincent.wificaresp8266"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/short_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".screen.Welcome"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".screen.Configuration"
            android:screenOrientation="portrait" />

        <activity
            android:name=".screen.ButtonControl"
            android:screenOrientation="portrait" />

        <activity
            android:name=".screen.AccelerometerControl"
            android:screenOrientation="portrait" />

        <activity
            android:name=".screen.VoiceControl"
            android:screenOrientation="portrait" />

    </application>

</manifest>