<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lacour.vincent.wificaresp8266"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/short_app_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".screen.Welcome"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".screen.Configuration"
            android:label="@string/activity_configuration"
            android:screenOrientation="portrait" />

        <activity
            android:name=".screen.ButtonControl"
            android:label="@string/activity_button"
            android:screenOrientation="portrait" />

        <activity
            android:name=".screen.AccelerometerControl"
            android:label="@string/activity_accelerometer"
            android:screenOrientation="portrait" />

        <activity
            android:name=".screen.VoiceControl"
            android:label="@string/activity_voice"
            android:screenOrientation="portrait" />

    </application>

</manifest>