<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>IP Address</string>
			<key>Key</key>
			<string>ip_address</string>
			<key>DefaultValue</key>
			<string>192.168.4.1</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Port</string>
			<key>Key</key>
			<string>port</string>
			<key>DefaultValue</key>
			<string>8080</string>
		</dict>
        <dict>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
            <key>Title</key>
            <string>Moving parameters</string>
        </dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Forward</string>
			<key>Key</key>
			<string>move_forward</string>
			<key>DefaultValue</key>
			<string>F</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Backward</string>
			<key>Key</key>
			<string>move_backward</string>
			<key>DefaultValue</key>
			<string>B</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Right</string>
			<key>Key</key>
			<string>turn_right</string>
			<key>DefaultValue</key>
			<string>R</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Left</string>
			<key>Key</key>
			<string>turn_left</string>
			<key>DefaultValue</key>
			<string>L</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Stop</string>
			<key>Key</key>
			<string>move_stop</string>
			<key>DefaultValue</key>
			<string>S</string>
		</dict>
        <dict>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
            <key>Title</key>
            <string>Action parameters</string>
        </dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Action 1</string>
			<key>Key</key>
			<string>action_1</string>
			<key>DefaultValue</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Action 2</string>
			<key>Key</key>
			<string>action_2</string>
			<key>DefaultValue</key>
			<string>2</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Action 3</string>
			<key>Key</key>
			<string>action_3</string>
			<key>DefaultValue</key>
			<string>3</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Action 4</string>
			<key>Key</key>
			<string>action_4</string>
			<key>DefaultValue</key>
			<string>4</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Action 5</string>
			<key>Key</key>
			<string>action_5</string>
			<key>DefaultValue</key>
			<string>5</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Action 6</string>
			<key>Key</key>
			<string>action_6</string>
			<key>DefaultValue</key>
			<string>6</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Action 7</string>
			<key>Key</key>
			<string>action_7</string>
			<key>DefaultValue</key>
			<string>7</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Action 8</string>
			<key>Key</key>
			<string>action_8</string>
			<key>DefaultValue</key>
			<string>8</string>
		</dict>
	</array>
</dict>
</plist>
